<footer class="footer">
    <div class="container">
        <div class="footer-flex">
            <div class="footer-logo footer-col">
                <img src="img/logo-second.png" alt="logo" class="footer-icon">
                <p class="footer-text">
                    Dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor
                </p>
            </div>
            <ul class="footer-col">
                <li class="footer-title">RECENT POSTS</li>
                <li class="footer-list">
                    <a href="" class="footer-link">Hugging pugs is super trendy<br>
                        February 14, 2017</a>
                </li>
                <li class="footer-list">
                    <a href="" class="footer-link">Hugging pugs is super trendy<br>
                        February 14, 2017</a>
                </li>
                <li class="footer-list">
                    <a href="" class="footer-link">Hugging pugs is super trendy<br>
                        February 14, 2017</a>
                </li>
            </ul>
            <ul class="footer-col">
                <li class="footer-title">LATEST UPDATES</li>
                <li class="footer-list">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                </li>
                <li class="footer-list">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                </li>
                <li class="footer-list">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
                </li>
            </ul>
            <ul class="footer-col">
                <li class="footer-title">INSTAGRAM</li>
                <li class="footer-col-flex">
                    <a href="#" class="footer-item">
                        <img src="img/cellphone-codes-coding-92904 2.jpg" alt="" class="footer-img">
                    </a>
                    <a href="#" class="footer-item">
                        <img src="img/tim-van-der-kuip-CPs2X8JYmS8-unsplash 2.jpg" alt="" class="footer-img">
                    </a>
                    <a href="#" class="footer-item">
                        <img src="img/cellphone-codes-coding-92904 2.jpg" alt="" class="footer-img">
                    </a>
                    <a href="#" class="footer-item">
                        <img src="img/cellphone-codes-coding-92904 2.jpg" alt="" class="footer-img">
                    </a>
                    <a href="#" class="footer-item">
                        <img src="img/tim-van-der-kuip-CPs2X8JYmS8-unsplash 2.jpg" alt="" class="footer-img">
                    </a>
                    <a href="#" class="footer-item">
                        <img src="img/cellphone-codes-coding-92904 1.jpg" alt="" class="footer-img">
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p class="footer-copyright">© QCode 2020</p>
            <a href="#" class="footer-top">Top</a>
            <div class="footer-social">
                <a href="" class="footer-social-link">
                    <img src="img/facebook.svg" alt="facebook" class="footer-social-icon">
                </a>
                <a href="" class="footer-social-link">
                    <img src="img/twitter.svg" alt="twitter" class="footer-social-icon">
                </a>
                <a href="" class="footer-social-link">
                    <img src="img/linkedin.svg" alt="linkedin" class="footer-social-icon">
                </a>
            </div>
        </div>
    </div>
</footer>