<!-- header.html -->
<header class="header">
	<div class="container">
		<div class="header-row">
			<a href="#" class="header-logo">
				<img src="img/logo-mob.svg" alt="" class="header-logo-img">
			</a>
			<div class="header-right">
				<div class="close"></div>
				<nav>
					<ul class="header-menu">
						<li class="header-list">
							<a href="" class="header-link">Projects</a>
						</li>
						<li class="header-list">
							<a href="" class="header-link">Insights</a>
						</li>
						<li class="header-list">
							<a href="" class="header-link">About us</a>
						</li>
						<li class="header-list">
							<a href="" class="header-link">Contacts</a>
						</li>
					</ul>
				</nav>
				<div class="header-lang" id="header-lang">
					<a href="#"	class="header-lang-list">
						<img src="img/use.svg" alt="use" class="header-lang-icon">
					</a>
					<a href="#" class="header-lang-list">
						<img src="img/russian.svg" alt="russian" class="header-lang-icon">
					</a>
					<a href="#" class="header-lang-list">
						<img src="img/ukraine.svg" alt="ukraine" class="header-lang-icon">
					</a>
				</div>
			</div>
			<img src="img/menu.svg" alt="menu" class="header-burger">
		</div>
	</div>
</header>